.table {
  width: 100%;
  border-collapse: collapse;

  tr th,
  tr td {
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
  }

  thead tr {
    th {
      font-weight: 600;
      text-align: left;
      border-bottom-width: 3px;
    }
  }
}