html {
  body {
    -webkit-font-smoothing: antialiased;
    background-color: #f8f8f8;
    font-family: $font-family;
    font-size: $font-size-base;
    color: #444;
  }
}

label {
  font-weight: 500;
}

h1 {
  font-size: 46px;
  margin: 14px 0 28px;
}

.title {
  font-weight: 600;
  &--center {
    text-align: center;
  }
}